@tailwind base;
@tailwind components;
@tailwind utilities;
@import "leaflet/dist/leaflet.css";

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 217 6%, 61%;

    --primary: 218 26%, 18%;
    --primary-foreground: 0 0%, 100%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 213 92%, 61%;
    --accent-foreground: 0 0% 100%;

    --disabled: 217.2 32.6% 17.5%;
    --disabled-foreground: 215 20.2% 65.1%;

    /* Light Theme */
    /* --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --disabled: 210 40% 96.1%;
    --disabled-foreground: 215.4 16.3% 46.9%; */
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 217 6%, 61%;

    --primary: 218 26%, 18%;
    --primary-foreground: 0 0%, 100%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 213 92%, 61%;
    --accent-foreground: 0 0% 100%;

    --disabled: 217.2 32.6% 17.5%;
    --disabled-foreground: 215 20.2% 65.1%;
  }
}

html,
body {
  @apply bg-background text-foreground;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
